{{> admin-navbar }}
<div class="container">
   <div class="row mt-5 vh">
      <div class="col-1 col-sm-1 col-md-2">
         <! --left side-->
      </div>
      <div class="col-12 col-sm-10 col-md-8">
         <form class="" action="/admin/admin-login" method="POST">
            <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email">
               {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="form-group form-check text-center">
               {{!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> --}}
               {{!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> --}}
               <button type="submit" class="btn btn-primary login-button">Login</button>
            </div>
         </form>
      </div>
      <div class="col-1 col-sm-1 col-md-2">
         <! --right side-->
      </div>
   </div>
</div>