*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000d5;
  color: #d4deff;
}
.login-button{
  background: #4661fa;
}
.login-button:hover{
  background: #4661fa96;
  color: #d3ae5e;
}
pre{
  color: #2d81b3;
}
.gender-grid{
  display: grid;
  width: 30%;
  grid-template-columns: 4rem 3rem;
  /* grid-template-rows: 2fr 2fr; */
}